/* Skip to Main function */
.skip a {
    position: absolute;
    top: -40px;
    /* z-index: 1; */
    color: black;

}

.skip a:focus {
    position: absolute;
    top: 0;
    color: black;

}

a.active-page
{
    font-weight: bold;
}

img {
    width: 30%;
    padding: 10px 40px 10px 90px;
	margin-top: 5px;
	border-radius: 10px;
    /* height: 400px;
    width: 300px;
    padding: 10px 10px 10px 20px;
  */
}

.galleryimg {
    width: 80%;
	margin-top: 5px;
	border-radius: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

.column {
    flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

  
  * {
    background-color: #958f88;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .img-hover-zoom{
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; 
  }
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.1);
  }


  div {
    background-color: transparent;
  }
  
  p {
    font-weight: 50;
    line-height: 30px;
    font-size: 20px;
    background-color: transparent;
    padding: 10px 40px 10px 50px;
  }
  
  ul {
    font-weight: 50;
    line-height: 32px;
    font-size: 20px;
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 10px;
  }
  
  ul ul {
    font-size: 18px;
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 20px;
  }
  
  em {
    font-style: italic;
    color: #ffb86f;
  }
  
  nav {
    overflow: hidden;
    display: flex;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
  }
  
  nav a {
    /*float: left; */
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
 
  }
  
  nav a:hover {
    font-weight: 1000;
  }

  nav a.active-page {
    font-weight: 1000;
    text-decoration: underline;
  }
  
  a {
    color: #ffafc5;
    text-decoration: none;
    background-color: transparent;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  h3 {
    font-size: 26px;
    line-height: 30px;
    color: #ffb86f;
    background-color: transparent;
    padding: 10px 40px 10px 50px;
  }
  
  h2 {
    font-size: 30px;
    line-height: 50px;
    background-color: transparent;
    padding: 10px 40px 10px 50px;
  }
  
  h1 {
    font-size: 38px;
    line-height: 60px;
    color: #000000;
    font-weight: bold;
    padding: 10px 40px 10px 50px;
  }
  
  hr {
    border: 0;
    border-top: 2px solid;
    width: 94%;
    opacity: 10%;
    padding: 10px 40px 10px 50px;
  }
  
